body{
    background-color:#ffe3fe;
}
hr{;
border-style: none;
border-top-style: dotted;
border-color: grey;
border-width: 5px;
width: 5%;

}
h3{
    color: #ff7171;
}
h1{
    color:#ac0d0d;
}
.circular{
    border-radius: 100%;
}